@font-face {
  font-family: "norsebold";
  src: url("./assets/fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ### CUSTOM PROPERTIES ### */

:root {
  --accent-clr: #596d48;
  --input-default-clr: #e5e7eb;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

/* ### UTILITY CLASSES ### */

.text-accent {
  color: var(--accent-clr);
}

/* ### */

h1 {
  font-family: "norsebold";
  font-size: 5rem;
  font-weight: normal;
}

/* ### SIGN UP FORM ### */

.sign-up-form {
  display: flex;
  min-height: 100vh;
}

.sidebar-section {
  flex-shrink: 0;
  width: 540px;
  background-image: url(./assets/images/leafs-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
}

.title-container {
  margin-top: 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56));
  padding: 1rem;
  width: 100%;
}

.title-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.odin-icon {
  width: 80px;
  height: auto;
}

.bg-credit {
  margin-top: auto;
}
