@font-face {
  font-family: "norsebold";
  src: url("./assets/fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ### CUSTOM PROPERTIES ### */

:root {
  --accent-clr: #596d48;
  --input-default-clr: #e5e7eb;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITY CLASSES ### */

.text-accent {
  color: var(--accent-clr);
}

/* ### */

h1 {
  font-family: "norsebold";
}
